.main {
    margin: 30px;
    background-color: white;
}
.bodys{
    background-color: #efefef;
}
.btn-success{
    float: right;
    margin-bottom: 15px;
}
.imgObject{
    width: 50px;
    height: 50px;
}
.media-2{
    margin-left:20px;
}
.list-group2{
    margin-top: 20px;
}
.a-size{
    font-size: 16px;
}